@model IEnumerable<EShopping.Models.News>

@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>News</h2>
<div class="main">
    <div class="content">
@foreach (var item in Model) {
        <div class="image group">
            <div class="grid images_3_of_1">
                @Html.DisplayFor(modelItem => item.NewsImgs)
            </div>
            <div class="grid news_desc">
                <h3>@Html.DisplayFor(modelItem => item.NewDetails) </h3>
                <h4>Posted on Aug 13th, 2013 by <span><a href="#">@Html.DisplayFor(modelItem => item.NewsBy)</a></span></h4>
                <p>@Html.DisplayFor(modelItem => item.NewDetails)<a href="#" title="more">[....]</a></p>
            </div>
        </div>
}
        <div class="content-pagenation">
            <li><a href="#">Frist</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><span>....</span></li>
            <li><a href="#">Last</a></li>
            <div class="clear"> </div>
        </div>
    </div>
</div>
