@using EShopping.Models;
@model IEnumerable<Product>
@{
    IEnumerable<Product> lstProduct = (IEnumerable<Product>)ViewBag.ListProduct;
}

<div class="main">
    <div class="content">
        @Html.Partial("~/Views/Home/ProductStyle1Partial.cshtml",lstProduct)
    </div>
</div>